<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25595137009-2tl7gkgiau5emte078cu85uh40dabc1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25595137009-2tl7gkgiau5emte078cu85uh40dabc1t</string>
	<key>API_KEY</key>
	<string>AIzaSyBwc7c04UdHwYMQ2sAZ-yTPIxOY1cAaIjg</string>
	<key>GCM_SENDER_ID</key>
	<string>25595137009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apaladines.techconsulting.recipes.org</string>
	<key>PROJECT_ID</key>
	<string>recipesapp-395420</string>
	<key>STORAGE_BUCKET</key>
	<string>recipesapp-395420.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25595137009:ios:c3ec2bf9b0f6c549b11250</string>
</dict>
</plist>